body {
  color: #434455;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  }

ul, ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  padding:  0 15px;
  margin: 0 auto;
}

.empty-title, .team-title, .portfolio-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/*-------- Header ------------------*/

.solutions {
  border-bottom: 1px solid #e7e9fc;
}

.header {
  display: flex;
  align-items: center;
}

.solutions-nav {
  display: flex;
  align-items: center;
}

.solutions-logo-w {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.solutions-logo-w-s {
  color: #2e2f42;
}

.solutions-menu-list {
  display: flex;
  gap: 40px;
}

.solutions .solutions-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.solutions-list:hover, .solutions-list:focus { 
  color: #404bbf;
}

.solutions-mt-list {
  display: flex;
  gap: 40px;
}

.solutions-cont {
  font-style: normal;
  margin-left: auto;
}

.solutions-cont-mt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.solutions-cont-mt:hover, .solutions-cont-mt:focus {
  color: #404bbf;
}

/* ------------------- --------------------------- */

/*-------- Effect ------------------*/
.effect {
  background-color: #2e2f42;
}

.hero {
  padding: 188px 0;
}

.effect-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 48px;
}

.effect-but {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.effect-but:hover, .effect-but:focus {
  background-color: #404bbf;
}

/* ------------------- --------------------------- */

/*-------------------- Empty ------------------*/
.empty-list {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.empty-p {
  letter-spacing: 0.02em;
}

/* ------------------- --------------------------- */

/*-------------------- Team ------------------*/
.team {
  background-color: #f4f4fd;
}

.team-li {
  background-color: #FFFFFF;
}

.team-nf {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-job {
  letter-spacing: 0.02em;
}

/* ------------------- --------------------------- */

/*-------------------- Portfolio ------------------*/
.portfolio-app {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;  
  font-weight: 500;
}

.portfolio-text {
  letter-spacing: 0.02em;
}

/* ------------------- --------------------------- */

/*-------------------- Footer ------------------*/
.foot {
  background-color: #2e2f42;
}

.foot-logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.foot-logo-s {
  color: #f4f4fd;
}

.foot-text {
  font-size: 12px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

/* ------------------- --------------------------- */